SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
SLACK_WEBHOOK_URL=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=SIMBANK_WH
SNOWFLAKE_DATABASE=SIMBANK
SNOWFLAKE_RAW=RAW
SNOWFLAKE_STG=STG
SNOWFLAKE_MART=MART
SNOWFLAKE_GOVT=GOVERNANCE
SIMBANK_CI=false
SIMBANK_SKIP_DASHBOARD=false